page-trivia {

}

.pregunta-trivia {
    text-align: center;
  }

.clase-toast-fallo {
  > div{
       background-color:red!important;
       border-radius: 12px;
   }
}

.clase-toast-acierto {
  > div{
       background-color:#32db64!important;
       border-radius: 12px;
   }
}

.clase-toast-empate {
  > div{
       background-color:orange!important;
       border-radius: 12px;
   }
}

#myimage {
    height: 100px;
    width: 100px;
    background-color: Transparent;
    position:relative;
}