page-result {

    ion-content {
    background-image: url(http://3.bp.blogspot.com/-FZh-esu0MoY/UvABr45dMHI/AAAAAAAAALc/FE4tlDlrBYw/s1920/16.jpg);    
    background-repeat: no-repeat;
    //background-repeat: repeat-x;
    //background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    }

}
