page-about {

    ion-content {
    background-image: url(http://k46.kn3.net/taringa/F/6/8/D/A/A/thefamilyjewels/AD0.jpg);
    //background-image: url(https://s-media-cache-ak0.pinimg.com/736x/6d/2d/e6/6d2de63ec090e15fbd29ba42d3265432.jpg);
    //background-image: url(http://data.whicdn.com/images/177614523/large.jpg);
    background-repeat: no-repeat;
    //background-repeat: repeat-x;
    //background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    }

    ion-item {    
    background-image: url(https://i2.wp.com/hipertextual.com/files/2017/03/color-degradado-fondos-degradados-multicolor-51200.jpg?resize=670%2C413&ssl=1);
    background-repeat: no-repeat;
    //background-repeat: repeat-x;
    //background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    }

    ion-card-content {    
    background-image: url(https://i2.wp.com/hipertextual.com/files/2017/03/color-degradado-fondos-degradados-multicolor-51200.jpg?resize=670%2C413&ssl=1);
    background-repeat: no-repeat;
    //background-repeat: repeat-x;
    //background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    }

}
